body {
 width: 100%;
 max-width: 100vw;
 overflow-x:hidden;
 font-size: 0;
 padding: 0;
 margin: 0;
 font-family: Proxima Nova;
 font-weight: 400;
 float: left;
}

p {
 font-weight: 400;
}

button:focus, input:focus {
 outline: none;
}
a{text-decoration: none;}
a:hover{text-decoration: none;}
a[href^=tel] { color: inherit; text-decoration: none; }
ul {
 list-style: none;
}
div {
 float: left;
 position: relative;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type='text']:focus::-webkit-input-placeholder {color:transparent;}
input[type='text']:focus::-moz-placeholder          {color:transparent;}/* Firefox 19+ */
input[type='text']:focus:-moz-placeholder           {color:transparent;}/* Firefox 18- */
input[type='text']:focus:-ms-input-placeholder      {color:transparent;}

.content {
 min-height: 100vh;
 width: 100%;
 padding-left: 100px;
 padding-right: 340px;
 background-color:#4e5157;
}
ul:focus {
	outline: none;
}
.pageContent {
	width: 100%;
}

#toTop {
	position: fixed;
	bottom: 120px;
	right: 340px;
	width: 50px;
	height: 50px;
	z-index: 900;
	border-radius: 50%;
	display: none;
	cursor: pointer;
	background-position:center;
	background-image:url(../img/toTop_button.png);
	background-size:100%;
	background-repeat:no-repeat;
}
#toTop.active {
	display: block;
}

/* ================================ */



/* =========LEFTSIDEBAR========= */

.leftSidebar {
 width: 100px;
 background-color: #484c58;
 -webkit-box-shadow: inset -2px 0px 10px 0px rgba(62,65,76,1);
 box-shadow: inset -2px 0px 10px 0px rgba(62,65,76,1);
 z-index:2;
 position: absolute;
 left: 0;
 top: 0;
 -webkit-transition: all 0.2s linear;
 transition: all 0.2s linear;
}
.leftSidebar.active {
	-webkit-transform: translateX(-150%);
	        transform: translateX(-150%);
}
.leftSidebar__block {
 width: 100%;
 height: 80px;
 text-align:center;
 cursor: pointer;
}

.leftSidebar__block>a {
 display: block;
 width: 100%;
 height: 100%;
 text-align: center;
 background-size: 100% auto;
 background-repeat: no-repeat;
 background-image: url(../img/icons/leftSidebar_sprite.png);
}
.leftSidebar__block:first-child {
 background-image:url(../img/icons/leftSidebar_angle.png);
 background-position:center center;
 background-size:25% 30%;
 background-repeat:no-repeat;
 height: 70px;
}
.leftSidebar__block:nth-child(2n-1) {
 background-color: #424651;
}
.leftSidebar__block:first-child {
 background-color: #52ca82;
}
.leftSidebar__block>i {
	text-align:center;
	line-height: 80px;
	color: #fff;
	font-size: 1.6rem;
}
.leftSidebar__block>span.index {
	position: absolute;
	right: 7px;
	top: 10px;
	font-size: 0.9rem;
	color: #2bacb1;
	pointer-events: none;
}
.leftSidebar__block>span.index.red {
	color: #fa6d56;
}
.leftSidebar__block>a.football {
	background-position: 0px 0px;
}
.leftSidebar__block>a.hockey {
	background-position: 0px -80px;
}
.leftSidebar__block>a.tennis {
	background-position: 0px -160px;
}
.leftSidebar__block>a.basketball {
	background-position: 0px -240px;
}
.leftSidebar__block>a.baseball {
	background-position: 0px -320px;
}
.leftSidebar__block>a.pingpong {
	background-position: 0px -400px;
}
.leftSidebar__block>a.volleyball {
	background-position: 0px -480px;
}
.leftSidebar__block>a.footsal {
	background-position: 0px -560px;
}
.leftSidebar__block>a.bandminton {
	background-position: 0px -640px;
}
.leftSidebar__block>a.darts {
	background-position: 0px -720px;
}
.leftSidebar__block>a.ragby {
	background-position: 0px -800px;
}
.leftSidebar__block>a.race {
	background-position: 0px -880px;
}
.leftSidebar__block:hover>a {
	-webkit-animation: shake .7s linear;
	        animation: shake .7s linear;
	-webkit-perspective: 100px;
	        perspective: 100px;
}
@-webkit-keyframes shake {
	0% {-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}
	100% {-webkit-transform: rotateY(360deg);transform: rotateY(360deg);}
}
@keyframes shake {
	0% {-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}
	100% {-webkit-transform: rotateY(360deg);transform: rotateY(360deg);}
}
.leftSidebar__block:first-child>a {
 -webkit-animation: none;
         animation: none;
}


/* =========RIGHTSIDEBAR========= */

.rightSidebar {
	width: 340px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color:#353942;
	-webkit-box-shadow: inset 2px 0px 10px 0px rgba(62,65,76,1);
 	box-shadow: inset 2px 0px 10px 0px rgba(62,65,76,1);
}
.rightSidebar__header {
	width: 100%;
	height: 70px;
	background-color:#30333b;
}
.rightSidebar__header-icon {
	width: 70px;
	height: 100%;
	background-color:#2bacb1;
	background-image:url(../img/icons/lenta_icon.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
}
.rightSidebar__header-title {
	padding-left: 30px;
}
.rightSidebar__header-title>span {
	line-height: 70px;
	font-size: 1rem;
	color: #fff;
	text-transform: uppercase;
	font-weight: 200;
}
.rightSidebar__newssheet-wrap {
	width: 100%;
	
}
.rightSidebar__newssheet {
	max-height: 730px;
	width: 100%;
	overflow-y: auto;
	padding-left: 30px;
	padding-right: 15px;
	margin:25px 0;
}
.rightSidebar__newssheet:focus {
	outline: none;
}
.rightSidebar__newssheet .jspVerticalBar {
	width:5px;
	background-color:#4a4d55;
	right: 10px;
}
.rightSidebar__newssheet .jspTrack {
	background:#4a4d55;
}
.rightSidebar__newssheet .jspDrag {
	background: #568183;
	border-radius: 2px;
	width: 5px;
}
.rightSidebar__newsblock {
	padding: 25px 0;
	width: 80%;
	margin-left: 10%;
	border-top:1px solid #797d85;
}
.rightSidebar__newsblock:first-child {
	border-top: none;
	padding-top: 0;
}
.rightSidebar__newsblock:last-child {
	padding-bottom: 0;
}
.rightSidebar__newsblock>.date {
	font-size: 0.8rem;
	color: #797d85;
	font-weight: 300;
}
.rightSidebar__newsblock>.title {
	margin-top: 15px;
}
.rightSidebar__newsblock>.title>a {
	font-size: 1rem;
}
.rightSidebar__newsblock>.title>a>span {
	font-size: 1em;
	color:#fff;
	font-weight: 300;
}
.rightSidebar__newsblock>.title>a>i {
	font-size: 1rem;
	color: #2bacb1;
	margin-left: 15px;
}
.rightSidebar__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 100px;
	background-color:rgba(0,0,0,0.4);
	padding: 20px;
	pointer-events: none;
}
.rightSidebar__overlay>.title {
	color: #fff;
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 10px;
}
.rightSidebar__overlay>.description {
	font-size: 0.8rem;
	color: #fff;
}
.rightSidebar__subscribe {
	width: 100%;
	padding:20px;
	background-color:#2babb0;
}
.rightSidebar__subscribe>span {
	color: #fff;
	font-size: 0.9rem;
	font-weight: 300;
}
.rightSidebar__subscribe>a {
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 1rem;
	color: #fff;
	display: block;
	font-weight: 300;
	margin-top: 8px;
}
.rightSidebar__advertiseBlock {
	width: 100%;
}
.rightSidebar__advertiseBlock>a {
	width: 100%;
}
.rightSidebar__advertiseBlock>a>img {
	width: 100%;
}


/* ============ HEADER ============= */

header {
	width: 100%;
}
.header {
	width: 100%;
}

.topbar {
	width: 100%;
	height: 70px;
	background-color:#fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	z-index: 1;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(204,204,204,0.2);
box-shadow: 0px 3px 5px 0px rgba(204,204,204,0.2);
}
.topbar>.logo {
	margin-right: 10px;
	margin-left: 10px;
}
.topbar>.warning {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin-right: 10px;
	max-width:600px;
	min-width:300px;
	display: none;
}
.topbar>.warning>span {
	font-size: 0.8rem;
	color: #484c58;
	font-weight: 300;
}
.topbar>.warning>span>img {
	margin-right: 10px;
}
.topbar>.search {
	margin-right: 10px;
}
.topbar>.search>.input_wrap>input {
	width:100%;
	max-width: 275px;
	min-width: 150px;
	background-color:#f1f3f2;
	color: #484c58;
	font-size: 0.9rem;
	font-weight: 300;
	padding: 0;
	padding-left: 20px;
	padding-right: 33px;
	height: 30px;
	border-radius:15px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	border:none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.topbar>.search>.input_wrap>input::-webkit-input-placeholder {opacity: .5;}
.topbar>.search>.input_wrap>input::-moz-placeholder          {opacity: .5;}/* Firefox 19+ */
.topbar>.search>.input_wrap>input:-moz-placeholder           {opacity: .5;}/* Firefox 18- */
.topbar>.search>.input_wrap>input:-ms-input-placeholder      {opacity: .5;}
.topbar>.search>.input_wrap>button {
	width: 20px;
	height: 20px;
	background-color:transparent;
	font-size: 1.1rem;
	color: #484c58;
	border:none;
	position: absolute;
	right: 15px;
	top: 4px;
	opacity: .5;
	cursor: pointer;
}
.loggedIn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	/* display: none; */
}
.loggedIn>.lastEntry {
	font-size: 0.9rem;
	color: #919498;
	margin-right: 20px;
	text-align:right;
}
.loggedIn>span>img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 20px;
}
.loggedIn>.name {
	font-size: 0.9rem;
	color: #279a9f;
	margin-right: 10px;
}
.loggedIn>.coins {
	display: inline-block;
	width: 20px;
	min-width:20px;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
	background-image: url(../img/icons/coins.png);
}
.loggedIn>.title {
	font-size: 0.9rem;
	color: #52ca82;
	margin-right: 5px;
}
.loggedIn>.parameter {
	font-size: 1rem;
	color: #52ca82;
	margin-right: 10px;
}
.topbar>.entry {
	margin-right: 10px;
	width: 20%;
	min-width:70px;
	max-width:115px;
	display: none;
}
.topbar>.entry>button {
	width: 100%;
	color: #fff;
	background-color:#e7604a;
	height: 30px;
	border-radius:15px;
	border:none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	cursor: pointer;
}
.topbar>.signOut {
	margin-right: 10px;
	width: 20%;
	min-width:70px;
	max-width:115px;
	/* display: none; */
}
.topbar>.signOut>button {
	width: 100%;
	color: #fff;
	background-color:#e7604a;
	height: 30px;
	border-radius:15px;
	border:none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	cursor: pointer;
}

.midRow {
	width: 100%;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	background-color:#f1f3f2;
}
.midRow>a {
	font-style: italic;
	font-size:0.8rem;
	color: #526796;
}
.midRow>a:hover {
	color: #2bacb1;
}

.navMenu {
	width: 100%;
	height: 60px;
	
}
.navMenu>ul {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.navMenu>ul>li {
	display: block;
	float: left;
	height: 100%;
	width: 12.5%;
	margin:0 auto;
	position: relative;
	z-index:5;
}
.navMenu>ul>li:last-child {
	width: 8%;
	min-width:85px;
}
.navMenu>ul>li:nth-child(1) {
	min-width:140px;
}
.navMenu>ul>li:nth-child(2) {
	width: 15%;
	min-width:160px;
}
.navMenu>ul>li:nth-child(3) {
	width: 10%;
	min-width:95px;
}
.navMenu>ul>li:nth-child(4) {
	min-width:140px;
}
.navMenu>ul>li:nth-child(5) {
	min-width:145px;
}
.navMenu>ul>li:nth-child(6) {
	min-width:170px;
}
.navMenu>ul>li:nth-child(7) {
	width: 17%;
	min-width:205px;
}
.navMenu>ul>li:nth-child(6):hover>a>i, .navMenu>ul>li:nth-child(6).active>a>i {
	-webkit-transform:rotateZ(180deg);
	        transform:rotateZ(180deg);
}
.navMenu>ul>li:nth-child(6):hover:before, .navMenu>ul>li:nth-child(6).active:before {
	content: '';
	display: block;
	position: absolute;
	top: 54px;
	left: 45%;
	width: 10px;
	height: 10px;
	background-color:#fff;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
	z-index:5;
	pointer-events: none;
}
.navMenu>ul>li:nth-child(7):hover>a>i, .navMenu>ul>li:nth-child(7).active>a>i {
	-webkit-transform:rotateZ(180deg);
	        transform:rotateZ(180deg);
}
.navMenu>ul>li:nth-child(7):hover:before, .navMenu>ul>li:nth-child(7).active:before {
	content: '';
	display: block;
	position: absolute;
	top: 54px;
	left: 45%;
	width: 10px;
	height: 10px;
	background-color:#fff;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
	z-index:5;
	pointer-events: none;
}
.navMenu>ul>li:last-child:hover>a>i, .navMenu>ul>li:last-child.active>a>i {
	-webkit-transform:rotateZ(180deg);
	        transform:rotateZ(180deg);
}
.navMenu>ul>li:last-child:hover:before, .navMenu>ul>li:last-child.active:before {
	content: '';
	display: block;
	position: absolute;
	top: 54px;
	left: 45%;
	width: 10px;
	height: 10px;
	background-color:#fff;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
	z-index:5;
	pointer-events: none;
}
.navMenu>ul>li:last-child>a>span.second {
	display: none;
}
.navMenu>ul>li.marine {
	background-color:#279a9f;
}
.navMenu>ul>li.blue {
	background-color:#526796;
}
.navMenu>ul>li.light {
	background-color:#2bacb1;
}
.navMenu>ul>li:hover, .navMenu>ul>li:focus, .navMenu>ul>li.active {
	background-color:#fff;
	z-index:5;
}
.navMenu>ul>li:hover a, .navMenu>ul>li:focus a, .navMenu>ul>li.active>a {
	color:#279a9f;
}
.navMenu>ul>li>a {
	font-size: 0.8rem;
	text-transform: uppercase;
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 60px;
	text-align: center;
}
.navMenu>ul>li>a>i {
	margin-left: 10px;
}



/* ВЫПАДАЮЩЕЕ МЕНЮ РЕЙТИНГ БУКМЕКЕРОВ */

.navMenu>ul>li:nth-child(6):hover .submenu, .navMenu>ul>li:nth-child(6).active .submenu {
	opacity: 1;
	pointer-events: auto;
} 
.navMenu>ul>li:nth-child(6)>.submenu {
	position: absolute;
	top: 60px;
	left: 0;
	z-index:4;
	-webkit-box-shadow: 0px 5px 76px -35px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 76px -35px rgba(0,0,0,0.5);
	width: 635px;
	opacity: 0;
	pointer-events: none;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart {
	width: 315px;
	background-color:#fff;
	height: 520px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.header {
	width: 100%;
	height: 35px;
	background-color:#f0f0f0;
	padding-left: 30px;
	text-align: left;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.header>span{
	font-style: italic;
	font-weight: 300;
	font-size: 0.8rem;
	color: #919498;
	line-height: 35px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart {
	padding:30px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart>ul {
	width: 100%;
	padding: 0;
	margin: 0;
	float: left;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart>ul>li {
	width: 100%;
	margin-bottom: 15px;
	float: left;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart>ul>li>.title {
	font-size: 0.9rem;
	color:#4e5157;
	font-weight: 300;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart>ul>li>.icon {
	float: right;
	font-size: 1rem;
	text-align: right;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart>ul>li>.icon.red {
	color: #e7604a;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart>ul>li>.icon.green {
	color: #52ca82;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart>ul>li>.icon.yellow {
	color: #ffcb3f;
}
.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart>ul>li>.icon>img {
	width: 50%;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart {
	width: 320px;
	background-color:#484c58;
	height: 520px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.header {
	width: 100%;
	height: 35px;
	background-color:#4e5157;
	padding:0 30px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.header>.title {
	font-size: 0.9rem;
	color: #919498;
	font-style: italic;
	font-weight: 300;
	line-height: 35px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.header>.range {
	float: right;
	width: 85px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.header>.range>.icon {
	font-size: 1rem;
	margin-right: 20px;
	line-height: 35px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.header>.range>.icon:last-child {
	margin-right: 0;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.header>.range>.icon.red {
	color: #e7604a;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.header>.range>.icon.green {
	color: #52ca82;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.header>.range>.icon.yellow {
	color: #ffcb3f;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap {
	padding:20px 30px;
	padding-right: 25px;
	width: 100%;
	height: 485px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart {
	width: 100%;
	overflow-y: auto;
	max-height: 100%;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart .jspVerticalBar {
	width:5px;
	background-color:#4a4d55;
	right: 0px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart .jspTrack {
	background:#5b5e69;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart .jspDrag {
	background: #568183;
	border-radius: 2px;
	width: 5px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart ul{
	padding: 0;
	margin: 0;
	width: 100%;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart ul>li {
	width: 100%;
	height: 20px;
	margin-bottom: 20px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart ul>li>.title {
	font-size: 0.9rem;
	color: #fff;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart ul>li>.range {
	float: right;
	width: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart ul>li>.range>div {
	width: 27px;
	height: 20px;
	border-radius: 2px;
	margin-right: 3px;
	color: #fff;
	font-size:0.9rem;
	text-align: center;
	line-height: 20px;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart ul>li>.range>div:last-child {
	margin-right: 0;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart ul>li>.range>.red {
	background-color:#e7604a;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart ul>li>.range>.green {
	background-color:#52ca82;
}
.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap>.innerPart ul>li>.range>.yellow {
	background-color:#ffcb3f;
}


/* ВЫПАДАЮЩЕЕ МЕНЮ СПОРТИВНЫЕ ТРАНСЛЯЦИИ */

.navMenu>ul>li:nth-child(7):hover .submenu, .navMenu>ul>li:nth-child(7).active .submenu {
	opacity: 1;
	pointer-events: auto;
} 
.navMenu>ul>li:nth-child(7)>.submenu {
	position: absolute;
	top: 60px;
	right: 0;
	z-index:4;
	-webkit-box-shadow: 0px 5px 76px -35px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 76px -35px rgba(0,0,0,0.5);
	width: 900px;
	opacity: 0;
	pointer-events: none;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart {
	width: 315px;
	background-color:#fff;
	height: 520px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.header {
	width: 100%;
	height: 35px;
	background-color:#f0f0f0;
	padding-left: 30px;
	text-align: left;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.header>span{
	font-style: italic;
	font-weight: 300;
	font-size: 0.8rem;
	color: #919498;
	line-height: 35px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart {
	padding:30px 0;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul {
	width: 100%;
	max-height:440px;
	padding: 0;
	margin: 0;
	float: left;
	overflow-y: auto;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul .jspVerticalBar {
	width:5px;
	background-color:#e5e5e5;
	right:10px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul .jspTrack {
	background:#e5e5e5;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul .jspDrag {
	background: #568183;
	border-radius: 2px;
	width: 5px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li {
	width: 100%;
	float: left;
	padding: 7px 30px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li.active {
	background-color:#484c58;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li>.title {
	font-size: 0.9rem;
	color:#4e5157;
	font-weight: 300;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li.active>.title {
	color: #fff;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li>.summary {
	float: right;
	font-size: 1rem;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li>.summary>span {
	font-size: 1rem;
	color:#4e5157;
	font-weight: 300;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li.active>.summary>span {
	color: #fff;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li>.summary>span>span {
	font-size: 0.9rem;
	color:#4e5157;
	font-weight: 300;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li.active>.summary>span>span {
	color: #fff;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li>.summary>span>span:before {
	content: '';
	display: inline-block;
	margin-right: 2px;
	width: 5px;
	height:5px;
	border-radius:50%;
	background-color:#aaadb1;
	margin-left: 3px;
	margin-bottom: 2px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li>.summary>span.online>span:before {
	content: '';
	display: inline-block;
	margin-right: 2px;
	width: 5px;
	height: 5px;
	border-radius:50%;
	background-color:#52ca82;
	margin-left: 3px;
	margin-bottom: 2px;
}

.navMenu>ul>li:nth-child(7)>.submenu>.rightPart {
	width: 585px;
	background-color:#484c58;
	height: 520px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.header {
	width: 100%;
	height: 35px;
	background-color:#4e5157;
	padding:0 30px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.header {
	font-size: 0.9rem;
	color: #919498;
	font-style: italic;
	font-weight: 300;
	line-height: 35px;
	text-align:left;
	padding-left: 30px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart {
	width: 100%;
	padding:30px 0;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul .jspVerticalBar {
	width:5px;
	background-color:#4a4d55;
	right: 10px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul .jspTrack {
	background:#5b5e69;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul .jspDrag {
	background: #568183;
	border-radius: 2px;
	width: 5px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul{
	padding: 0;
	margin: 0;
	width: 100%;
	max-height: 440px;
	float: left;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li {
	width: 100%;
	margin-bottom: 20px;
	padding:0 30px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	line-height: 1;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li>.title {
	font-size: 0.9rem;
	color: #fff;
	max-width: 430px;
	opacity: .8;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li>.title>span {
	display: none;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li>.title>span.active {
	display: inline-block;
	font-size: 0.6rem;
	color: #52ca82;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 20px;
	opacity: 1;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li>.summary {
	float: right;
	font-size: 1rem;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li>.summary>span {
	font-size: 1rem;
	color:#ffffff;
	font-weight: 300;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li.active>.summary>span {
	color: #fff;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li>.summary>span>span {
	font-size: 0.9rem;
	color:#fff;
	font-weight: 300;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li.active>.summary>span>span {
	color: #fff;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li>.summary>span>span:before {
	content: '';
	display: inline-block;
	margin-right: 2px;
	width: 5px;
	height:5px;
	border-radius:50%;
	background-color:#aaadb1;
	margin-left: 3px;
	margin-bottom: 2px;
}
.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li>.summary>span.online>span:before {
	content: '';
	display: inline-block;
	margin-right: 2px;
	width: 5px;
	height: 5px;
	border-radius:50%;
	background-color:#52ca82;
	margin-left: 3px;
	margin-bottom: 2px;
}



/* ВЫПАДАЮЩЕЕ МЕНЮ ЕЩЁ... */

.navMenu>ul>li:last-child:hover .submenu, .navMenu>ul>li:last-child.active .submenu {
	opacity: 1;
	pointer-events: auto;
} 
.navMenu>ul>li:last-child>.submenu {
	position: absolute;
	top: 60px;
	right: 0;
	z-index:4;
	-webkit-box-shadow: 0px 5px 76px -35px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 76px -35px rgba(0,0,0,0.5);
	width:1110px;
	opacity: 0;
	pointer-events: none; 
}
.navMenu>ul>li:last-child>.submenu>.categoryPart {
	width: 210px;
	height: 520px;
	background-color:#52ca82;
}
.navMenu>ul>li:last-child>.submenu>.categoryPart>.header {
	width: 100%;
	height: 35px;
	background-color:#4dbe7a;
	line-height: 35px;
	color: #b1e2c5;
	font-size: 0.8rem;
	font-style: italic;
	text-align: left;
	padding-left: 30px;
}
.navMenu>ul>li:last-child>.submenu>.categoryPart>.innerPart {
	width: 100%;
	padding:20px 0;
}
.navMenu>ul>li:last-child>.submenu>.categoryPart>.innerPart>ul{
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.navMenu>ul>li:last-child>.submenu>.categoryPart>.innerPart>ul>li {
	width: 100%;
	padding:7px 0px;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: left;
	padding-left: 30px;
}
.navMenu>ul>li:last-child>.submenu>.categoryPart>.innerPart>ul>li.active, 
.navMenu>ul>li:last-child>.submenu>.categoryPart>.innerPart>ul>li:hover {
	color: #484c58;
	background-color:#fff;
}
.navMenu>ul>li:last-child>.submenu>.leftPart {
	width: 315px;
	background-color:#fff;
	height: 520px;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.header {
	width: 100%;
	height: 35px;
	background-color:#f0f0f0;
	padding-left: 30px;
	text-align: left;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.header>span{
	font-style: italic;
	font-weight: 300;
	font-size: 0.8rem;
	color: #919498;
	line-height: 35px;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart {
	padding:30px 0;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul {
	width: 100%;
	max-height:440px;
	padding: 0;
	margin: 0;
	float: left;
	overflow-y: auto;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul .jspVerticalBar {
	width:5px;
	background-color:#e5e5e5;
	right:10px;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul .jspTrack {
	background:#e5e5e5;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul .jspDrag {
	background: #568183;
	border-radius: 2px;
	width: 5px;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li {
	width: 100%;
	float: left;
	padding: 7px 30px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li.active {
	background-color:#484c58;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li>.title {
	font-size: 0.9rem;
	color:#4e5157;
	font-weight: 300;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li.active>.title {
	color: #fff;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li>.summary {
	float: right;
	font-size: 1rem;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li>.summary>span {
	font-size: 1rem;
	color:#4e5157;
	font-weight: 300;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li.active>.summary>span {
	color: #fff;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li>.summary>span>span {
	font-size: 0.9rem;
	color:#4e5157;
	font-weight: 300;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li.active>.summary>span>span {
	color: #fff;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li>.summary>span>span:before {
	content: '';
	display: inline-block;
	margin-right: 2px;
	width: 5px;
	height:5px;
	border-radius:50%;
	background-color:#aaadb1;
	margin-left: 3px;
	margin-bottom: 2px;
}
.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li>.summary>span.online>span:before {
	content: '';
	display: inline-block;
	margin-right: 2px;
	width: 5px;
	height: 5px;
	border-radius:50%;
	background-color:#52ca82;
	margin-left: 3px;
	margin-bottom: 2px;
}

.navMenu>ul>li:last-child>.submenu>.rightPart {
	width: 585px;
	background-color:#484c58;
	height: 520px;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.header {
	width: 100%;
	height: 35px;
	background-color:#4e5157;
	padding:0 30px;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.header {
	font-size: 0.9rem;
	color: #919498;
	font-style: italic;
	font-weight: 300;
	line-height: 35px;
	text-align:left;
	padding-left: 30px;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart {
	width: 100%;
	padding:30px 0;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul .jspVerticalBar {
	width:5px;
	background-color:#4a4d55;
	right: 10px;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul .jspTrack {
	background:#5b5e69;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul .jspDrag {
	background: #568183;
	border-radius: 2px;
	width: 5px;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul{
	padding: 0;
	margin: 0;
	width: 100%;
	max-height: 440px;
	float: left;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li {
	width: 100%;
	margin-bottom: 20px;
	padding:0 30px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	line-height: 1;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li>.title {
	font-size: 0.9rem;
	color: #fff;
	max-width: 430px;
	opacity: .8;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li>.title>span {
	display: none;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li>.title>span.active {
	display: inline-block;
	font-size: 0.6rem;
	color: #52ca82;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 20px;
	opacity: 1;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li>.summary {
	float: right;
	font-size: 1rem;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li>.summary>span {
	font-size: 1rem;
	color:#ffffff;
	font-weight: 300;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li.active>.summary>span {
	color: #fff;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li>.summary>span>span {
	font-size: 0.9rem;
	color:#fff;
	font-weight: 300;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li.active>.summary>span>span {
	color: #fff;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li>.summary>span>span:before {
	content: '';
	display: inline-block;
	margin-right: 2px;
	width: 5px;
	height:5px;
	border-radius:50%;
	background-color:#aaadb1;
	margin-left: 3px;
	margin-bottom: 2px;
}
.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li>.summary>span.online>span:before {
	content: '';
	display: inline-block;
	margin-right: 2px;
	width: 5px;
	height: 5px;
	border-radius:50%;
	background-color:#52ca82;
	margin-left: 3px;
	margin-bottom: 2px;
}
.mobile {
	display: none;
}




@media all and (max-width: 1799px) {
	.navMenu>ul>li>a {
		font-size: 0.7rem;
	}
	.navMenu>ul>li:nth-child(1) {
		min-width:140px;
	}
	.navMenu>ul>li:nth-child(2) {
		min-width:160px;
	}
	.navMenu>ul>li:nth-child(3) {
		min-width:105px;
	}
	.navMenu>ul>li:nth-child(7) {
		min-width:190px;
	}
	.navMenu>ul>li:last-child {
		min-width:80px;
	}
}
@media all and (max-width: 1570px) {
	.navMenu>ul>li>a {
		font-size: 0.6rem;
	}
	.navMenu>ul>li:nth-child(1) {
		min-width:130px;
	}
	.navMenu>ul>li:nth-child(2) {
		min-width:150px;
	}
	.navMenu>ul>li:nth-child(3) {
		min-width:95px;
	}
	.navMenu>ul>li:nth-child(4) {
		min-width:120px;
	}
	.navMenu>ul>li:nth-child(5) {
		min-width:125px;
	}
	.navMenu>ul>li:nth-child(6) {
		min-width:150px;
	}
	.navMenu>ul>li:nth-child(7) {
		min-width:170px;
	}
	.navMenu>ul>li:last-child {
		min-width:70px;
	}
}
@media all and (max-width: 1450px) {
	.navMenu>ul>li {
		padding:0 5px;
	}
	.navMenu>ul>li:nth-child(1) {
		min-width:100px;
	}
	.navMenu>ul>li:nth-child(2) {
		min-width:100px;
	}
	.navMenu>ul>li:nth-child(3) {
		min-width:70px;
	}
	.navMenu>ul>li:nth-child(4) {
		min-width:100px;
	}
	.navMenu>ul>li:nth-child(5) {
		min-width:100px;
	}
	.navMenu>ul>li:nth-child(6) {
		min-width:100px;
	}
	.navMenu>ul>li:nth-child(6)>a {
		line-height: 1;
		padding-top: 27px;
	}
	.navMenu>ul>li:nth-child(7) {
		min-width:100px;
	}
	.navMenu>ul>li:last-child {
		min-width:70px;
	}
}
@media all and (max-width: 1430px) {
	.navMenu>ul>li:nth-child(6)>.submenu>.leftPart, .navMenu>ul>li:nth-child(6)>.submenu>.rightPart {
		width: 285px;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.leftPart {
		width: 260px;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.rightPart {
		width: 390px;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li>.title {
		width: 250px;
		text-align: left;
	}
	.navMenu>ul>li:nth-child(7)>.submenu {
		width: 650px;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li>.title>span.active {
		margin-left: 5px;
	}
	.navMenu>ul>li:last-child>.submenu>.leftPart {
		width: 260px;
	}
	.navMenu>ul>li:last-child>.submenu>.rightPart {
		width: 390px;
	}
	.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li>.title {
		width: 250px;
		text-align: left;
	}
	.navMenu>ul>li:last-child>.submenu {
		width: 860px;
	}
	.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li>.title>span.active {
		margin-left: 5px;
	}
}
@media all and (max-width: 1385px) {
	.navMenu>ul>li:nth-child(7)>a {
		line-height: 1;
		padding-top: 27px;
	}
}
@media all and (max-width: 1367px) {
	.navMenu>ul>li:nth-child(6)>a {
		padding-top: 23px;
	}
	.navMenu>ul>li:nth-child(7)>a {
		padding-top: 23px;
	}
	.navMenu>ul>li:nth-child(1)>a {
		line-height: 1;
		padding-top: 23px;
	}
	.navMenu>ul>li>.submenu>.leftPart>.innerPart {
		padding:30px 10px;
	}
	.navMenu>ul>li>.submenu>.leftPart, .navMenu>ul>li>.submenu>.rightPart {
		width: 245px;
	}
	.navMenu>ul>li>.submenu>.rightPart>.innerPart_wrap {
		padding-left: 10px;
		padding-right: 5px;
	}
	.navMenu>ul>li>.submenu>.rightPart>.header {
		padding:0 10px;
	}
	.navMenu>ul>li>.submenu>.leftPart>.header {
		padding-left: 10px;
	}
}
@media all and (max-width: 1325px) {
	.navMenu>ul>li:nth-child(2)>a {
		line-height: 1;
		padding-top: 23px;
	}
}
@media all and (max-width: 1300px) {
	.navMenu>ul>li:last-child>.submenu>.categoryPart {
		width: 135px;
	}
	.navMenu>ul>li:last-child>.submenu>.categoryPart>.header {
		padding-left: 10px;
	}
	.navMenu>ul>li:last-child>.submenu>.categoryPart>.innerPart>ul>li {
		padding-left: 10px;
		font-size: 0.8rem;
	}
	.navMenu>ul>li:last-child>.submenu {
		width: 695px;
		
	}
	.navMenu>ul>li:last-child>.submenu>.categoryPart {
		height: 350px;
	}
	.navMenu>ul>li:last-child>.submenu>.categoryPart>.header {
		font-size: 0.7rem;
	}
	.navMenu>ul>li:last-child>.submenu>.leftPart {
		width: 200px;
		height: 350px;
	}
	.navMenu>ul>li:last-child>.submenu>.leftPart>.header {
		padding-left: 10px;
		font-size: 0.7rem;
	}
	.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li {
		padding-left: 10px;
	}
	.navMenu>ul>li:last-child>.submenu>.rightPart>.header {
		padding-left: 10px;
		font-size: 0.7rem;
	}
	.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul li {
		padding-left: 10px;
	}
	.navMenu>ul>li:last-child>.submenu>.rightPart {
		width: 360px;
		height: 350px;
	}
	.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul li>.title {
		width: 85px;
		text-align:left;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.header {
		padding-left: 10px;
		font-size: 0.7rem;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li {
		padding-left: 10px;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul li>.title {
		width: 85px;
		text-align:left;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.leftPart {
		width: 200px;
		height: 350px;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.header {
		padding-left: 10px;
		font-size: 0.7rem;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul li {
		padding-left: 10px;
	}
	.navMenu>ul>li:nth-child(7)>.submenu>.rightPart {
		width: 360px;
		height: 350px;
	}
	.navMenu>ul>li:nth-child(7)>.submenu {
		width: 560px;
		height: 350px;
	}
	.navMenu>ul>li:nth-child(6)>.submenu {
		left:auto;
		right: 0;
		height: 350px;
		width: 450px;
	}
	.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.header,
	.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.header {
		font-size: 0.7rem;
		padding-left: 10px;
		padding-right: 10px;
	}
	.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart,
	.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap {
		padding-left: 10px;
		padding-right: 10px;
	}
	.navMenu>ul>li:nth-child(6)>.submenu>.leftPart>.innerPart>ul>li>.title {
		font-size: 0.7rem;
	}
	.navMenu>ul>li:nth-child(6)>.submenu>.leftPart {
		width: 205px;
		height: 350px;
	}
	.navMenu>ul>li:nth-child(6)>.submenu>.rightPart {
		width: 245px;
		height: 350px;
	}
	.navMenu>ul>li:last-child>.submenu>.leftPart>.innerPart ul,
	.navMenu>ul>li:last-child>.submenu>.rightPart>.innerPart ul,
	.navMenu>ul>li:nth-child(7)>.submenu>.leftPart>.innerPart ul,
	.navMenu>ul>li:nth-child(7)>.submenu>.rightPart>.innerPart ul {
		max-height:260px;
	}
	.navMenu>ul>li:nth-child(6)>.submenu>.rightPart>.innerPart_wrap {
		height:300px;
	}
	.topbar>.warning>span {
		font-size: 0.7rem;
	}
}
@media all and (max-width: 1260px) {
	.content {
	 padding-left: 70px;
	}
	.leftSidebar__block {
		height: 60px;
	}
	.leftSidebar__block:first-child {
	 background-size:25% 25%;
	}
	.leftSidebar {
		width: 70px;
	}
	.leftSidebar__block>i {
		line-height: 60px;
		font-size: 1.2rem;
	}
	.leftSidebar__block>span.index {
		font-size: 0.7rem;
	}
	.leftSidebar__block>a.football {
	    background-position: 0px 5px;
	}
	.leftSidebar__block>a.hockey {
	    background-position: 0px -50px;
	}
	.leftSidebar__block>a.tennis {
		background-position: 0px -105px;
	}
	.leftSidebar__block>a.basketball {
		background-position: 0px -160px;
	}
	.leftSidebar__block>a.baseball {
		background-position: 0px -215px;
	}
	.leftSidebar__block>a.pingpong {
		background-position: 0px -275px;
	}
	.leftSidebar__block>a.volleyball {
		background-position: 0px -330px;
	}
	.leftSidebar__block>a.footsal {
		background-position: 0px -385px;
	}
	.leftSidebar__block>a.bandminton {
		background-position: 0px -440px;
	}
	.leftSidebar__block>a.darts {
		background-position: 0px -495px;
	}
	.leftSidebar__block>a.ragby {
		background-position: 0px -555px;
	}
	.leftSidebar__block>a.race {
		background-position: 0px -610px;
	}
	.navMenu>ul>li:last-child>a>span.second {
		display: inline-block;
	}
	.navMenu>ul>li:last-child>a>span.first {
		display: none;
	}
}
@media all and (max-width: 1230px) {
	.navMenu>ul>li:last-child {
		min-width:45px;
	}
	.topbar>.signOut {
		max-width: 75px;
	}
	.topbar>.entry {
		max-width: 75px;
	}
	.navMenu {
		height: 50px;
	}
	.navMenu>ul>li>a {
		line-height: 50px;
		font-size: 0.55rem;
	}
	.navMenu>ul>li:nth-child(7)>a,
	.navMenu>ul>li:nth-child(6)>a,
	.navMenu>ul>li:nth-child(2)>a,
	.navMenu>ul>li:nth-child(1)>a {
		padding-top: 17px;
	}
	.navMenu>ul>li:nth-child(1),
	.navMenu>ul>li:nth-child(2),
	.navMenu>ul>li:nth-child(4),
	.navMenu>ul>li:nth-child(5),
	.navMenu>ul>li:nth-child(6) {
		min-width:60px;
	}
	.navMenu>ul>li:nth-child(7) {
		min-width:75px;
	}
	.navMenu>ul>li:nth-child(5)>a {
		line-height: 1;
		padding-top: 17px;
	}
	.navMenu>ul>li:nth-child(6)>.submenu, .navMenu>ul>li:nth-child(7)>.submenu,
	.navMenu>ul>li:last-child>.submenu {
		top: 50px;
	}
	.navMenu>ul>li:last-child:hover:before, .navMenu>ul>li:last-child.active:before,
	.navMenu>ul>li:nth-child(6):hover:before, .navMenu>ul>li:nth-child(6).active:before,
	.navMenu>ul>li:nth-child(7):hover:before, .navMenu>ul>li:nth-child(7).active:before {
		top: 44px;
	}
}
@media all and (max-width: 1142px) {
	.navMenu>ul>li:nth-child(4)>a {
		line-height: 1;
		padding-top: 17px;
	}
}
@media all and (max-width: 1110px) {
	.topbar>.search>.input_wrap>input {
		min-width:120px;
	}
	.topbar>.search>.input_wrap>button {
		right: 20px;
	}
}
@media all and (max-width: 1090px) {
	
	.topbar>.logo {
		width: 120px;
		margin-right: 25px;
	}
	.topbar>.logo>img {
		width: 100%;
		margin-bottom: 10px;
	}
	.loggedIn>.lastEntry, .loggedIn>.name {
		font-size: 0.7rem;
	}
	.navMenu>ul>li:nth-child(6) {
		min-width:75px;
	}
}
@media all and (max-width: 1050px) {
	.topbar>.warning>span>img {
		margin-right: 5px;
		width: 30px;
	}
	.topbar>.warning>span {
		font-size: 0.6rem;
	}
	.topbar>.warning {
		min-width:240px;
	}
}
@media all and (max-width: 995px) {
	.content {
	 padding-left: 0;
	 padding-right: 0;
	}
	.rightSidebar, .leftSidebar, .navMenu, .midRow {
		display: none;
	}
	.mainPart {
		width: 100%;
	}
	.topbar>.search>.input_wrap>button {
		right: 30px;
	}
	#toTop {
		bottom: 20px;
		right: 20px;
	}
	.topbar {
		height: 50px;
	}
	.mobile {
		display: block;
	}
	.mobile.search {
		display: none;
	}
	.menu__button {
		width: 50px;
		height: 100%;
		background-color: #2bacb1;
		text-align:center;
	}
	.menu__button>span {
		font-size: 1.3rem;
		color: #fff;
		line-height: 50px;
		display: none;
	}
	.menu__button>span.active {
		display: block;
	}
	.menu__content {
		position: absolute;
		left: 0;
		top: 50px;
		background-color:#2bacb1;
		z-index: 1100;
		width: 320px;
		display: none;
	}
	.menu__content>.firstLevel {
		width: 100%;
		padding: 20px 0;
		margin: 0;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		
	}
	.menu__content>.firstLevel>li {
		width: 100%;
		padding:10px 20px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.menu__content>.firstLevel>li:hover {
		background-color:#2c9fa5;
	}
	.menu__content>.firstLevel>li>a {
		font-size: 1rem;
		color: #fff;
	}
	.menu__content>.firstLevel>li:hover>a {
		color: #5df59a;
	}
	.menu__content>.secondLevel {
		width: 100%;
		margin: 0;
		padding: 0;
		display: none;
	}
	.menu__content>.secondLevel>.getBack {
		width: 100%;
		height: 30px;
		background-color: #2fbabf;
		color: #8ad6d9;
		padding-left: 15px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		line-height: 25px;
		font-size: 0.8rem;
		font-style: italic;
	}
	.menu__content>.secondLevel>.getBack>i {
		font-size: 1rem;
		margin-right: 10px;
		color: #fff;
		line-height: 25px;
	}
	.menu__content>.secondLevel>.wrap {
		width: 100%;
		height: 405px;
		overflow-y: auto;
	}
	.menu__content>.secondLevel>.wrap>ul {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.menu__content>.secondLevel>.wrap>ul>li {
		width: 100%;
		padding:10px 20px;
	}
	.menu__content>.secondLevel>.wrap>ul>li>a {
		font-size: 0.8rem;
		color: #fff;
	}
	.menu__content>.secondLevel>.wrap>ul>li:hover {
		background-color:#2c9fa5;
	}
	.menu__content>.secondLevel>.wrap>ul>li:hover>a {
		color: #5df59a;
	}
	.newsList {
		width: 50px;
		min-width:50px;
		height: 100%;
		margin:0 20px;
	}
	.newsList__button {
		width: 100%;
		height: 100%;
		background-color:#353942;
		background-position:center center;
		background-size:100%;
		background-repeat:no-repeat;
		background-image:url(../img/icons/lenta_icon.png);
	}
	.newsList__button>span {
		font-size: 1.2rem;
		color: #fff;
		text-align:center;
		line-height: 50px;
		display: none;
		width: 100%;
		height: 100%;
		background-color:#353942;
	}
	.newsList__button>span.active {
		display: block;
	}
	.newsLIst__wrap {
		position: absolute;
		top: 50px;
		right: 0;
		width: 320px;
		height: 440px;
		overflow-y: auto;
		background-color:#353942;
		padding-left: 10px;
		padding-right: 20px;
		display: none;
	}
	.rightSidebar__newsblock {
		margin-left: 0px;
		width: 100%;
		padding:20px 0;
	}
	.rightSidebar__newsblock:first-child {
		padding-top: 20px;
	}
	.rightSidebar__newsblock:last-child {
		padding-bottom: 20px;
	}

	.sportSelect {
		width: 100%;
		height: 30px;
		background-color:#f1f3f2;
		text-align:center;
	}
	.sportSelect_wrap {
		margin:0 auto;
		width: 320px;
		height: 100%;
	}
	.sportSelect__button {
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding-left: 10px;
	}
	.sportSelect__button>span {
		color:#4e5157;
		font-size: 0.8rem;
	}
	.sportSelect__button>span.icon {
		display: block;
		width: 30px;
		height: 30px;
		background-color:#a4a7b0;
		color: #fff;
		font-size: 1.4rem;
		text-align:center;
		line-height: 30px;
	}
	.sportSelect__button>span.icon.active>i {
		-webkit-transform: rotateZ(180deg);
		        transform: rotateZ(180deg);
	}
	.sportSelect__content {
		position: absolute;
		top: 30px;
		right: 0;
		width: 320px;
		height: 440px;
		overflow-y: auto;
		z-index: 1100;
		background-color:#fff;
		padding:10px 0;
		display: none;
	}
	.sportSelect__content>.leftSidebar__block {
		display: block;
		width: 100%;
		padding-left: 10px;
		padding-right: 25px;
		height: 30px;
	}
	.leftSidebar__block:first-child,
	.leftSidebar__block:nth-child(2n-1) {
		background-color:transparent;
	}
	.sportSelect__content>.leftSidebar__block:hover {
		background-color:#efeff0;
	}
	.sportSelect__content>.leftSidebar__block:hover>a {
		-webkit-animation: none;
		        animation: none;
	}
	.sportSelect__content>.leftSidebar__block:hover>a>span.title {
		color: #2bacb1;
	}
	.sportSelect__content>.leftSidebar__block>a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		height: 100%;
		background:none;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.sportSelect__content>.leftSidebar__block>a>.icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-right: 10px;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:90% 90%;
	}
	.sportSelect__content>.leftSidebar__block>a>span.title {
		display: inline-block;
		font-size: 0.8rem;
		color: #4e5157;
		width: calc(100% - 90px);
		text-align:left;
	}
	.sportSelect__content>.leftSidebar__block>a>span.index {
		display: inline-block;
		width:50px;
		text-align:right;
		font-size: 0.8rem;
		color: #2aaaaf;
	}
	.sportSelect__content>.leftSidebar__block>a>span.index.red {
		color: #e7604a;
	}
	.sportSelect__content>.leftSidebar__block>a.football>.icon {
		background-image:url(../img/icons/football_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.hockey>.icon {
		background-image:url(../img/icons/hockey_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.tennis>.icon {
		background-image:url(../img/icons/tennis_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.basketball>.icon {
		background-image:url(../img/icons/basketball_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.baseball>.icon {
		background-image:url(../img/icons/baseball_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.pingpong>.icon {
		background-image:url(../img/icons/pingpong_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.volleyball>.icon {
		background-image:url(../img/icons/volleyball_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.footsal>.icon {
		background-image:url(../img/icons/footsal_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.bandminton>.icon {
		background-image:url(../img/icons/badminton_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.darts>.icon {
		background-image:url(../img/icons/darts_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.ragby>.icon {
		background-image:url(../img/icons/rugby_icon.png);
	}
	.sportSelect__content>.leftSidebar__block>a.race>.icon {
		background-image:url(../img/icons/handball_icon.png);
	}
}
@media all and (max-width: 767px) {
	.topbar>.warning {
		display: none;
	}
	.topbar>.logo>img {
		min-width:120px;
	}
	.topbar {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.topbar>.search>.input_wrap>input {
		width: 100%;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.topbar>.search>.input_wrap>button {
		right: 15px;
	}
	.loggedIn>.lastEntry, .loggedIn>span>img, .loggedIn>.name {
		margin-right: 5px
	}
	.search, .loggedIn, .topbar>.signOut {
		display: none;
	}
	.mobile.search {
		display: block;
		width: 50px;
		min-width:50px;
		height: 100%;
	}
	.mobile.search .search__button {
		width: 100%;
		height: 100%;
		background-color:#4dbe7a;
		text-align:center;
	}
	.mobile.search .search__button>span {
		line-height: 50px;
		color: #fff;
		font-size: 1.3rem;
		display: none;
	}
	.mobile.search .search__button>span.active {
		display: block;
	}
	.search__content {
		position: absolute;
		top: 40px;
		right: 0;
		width: 320px;
		padding:20px;
	}
	.search__content>.input_wrap {
		width: 100%;
		height: 100%;
	}
	.sportSelect_wrap, .sportSelect__content {
		width: 100%;
	}
	.search__content {
		position: absolute;
		top: 50px;
		right: -80px;
		width: 320px;
		background-color:#4dbe7a;
		padding:20px;
		display: none;
	}
	.search__content>.search__content-wrap {
		width: 100%;
		height: 40px;
		background-color:#fff;
	}
	.search__content>.search__content-wrap>input {
		width: 100%;
		height: 100%;
		padding-left: 15px;
		border:none;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.search__content>.search__content-wrap>button {
		width: 40px;
		height: 40px;
		background-color:#f0f2f1;
		font-size: 1.2rem;
		color: #4dbe7a;
		border: none;
		position: absolute;
		top: 0;
		right: 0;
	}
	.topbar {
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.newsList {
		margin: 0;
	}
	.topbar>.search {
		margin-right: 0;
	}
	.mobile.menu {
		position: absolute;
		top: 0;
		left: 0;
	}
	.topbar>.logo {
		position: absolute;
		margin: 0;
		top: 10px;
		left: 60px;
	}
	.topbar>.entry {
		display: none;
	}
	.mobile.profile {
		width: 50px;
		height: 50px;
		background-color:#516695;
	}
	.profile__button {
		width: 100%;
		height: 100%;
		text-align:center;
	}
	.profile__button>span {
		line-height: 50px;
		font-size: 1.2rem;
		color: #fff;
		display: none;
	}
	.profile__button>span.active {
		display: block;
	}
	.profile__content {
		width: 320px;
		position: absolute;
		top: 50px;
		right: 0;
		background-color:#516695;
		z-index: 1100;
		display: none;
	}
	.profile__content>ul {
		width: 100%;
		padding:10px 0;
		margin: 0;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.profile__content>ul>li {
		width: 100%;
		padding:12px 10px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.profile__content>ul>li:hover {
		background-color:#4e618c;
	}
	.profile__content>ul>li>a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		width: 100%;
		height: 100%;
	}
	.profile__content>ul>li>a>span.icon {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-position:center center;
		background-size:100%;
		background-repeat:no-repeat;
	}
	.profile__content>ul>li:nth-child(1)>a>span.icon {
		background-image:url(../img/icons/talks_icon.png);
	}
	.profile__content>ul>li:nth-child(2)>a>span.icon {
		background-image:url(../img/icons/messages_icon.png);
	}
	.profile__content>ul>li:nth-child(3)>a>span.icon {
		background-image:url(../img/icons/blog_icon.png);
	}
	.profile__content>ul>li:nth-child(4)>a>span.icon {
		background-image:url(../img/icons/prognoses_icon.png);
	}
	.profile__content>ul>li:nth-child(5)>a>span.icon {
		background-image:url(../img/icons/myprofile_icon.png);
	}
	.profile__content>ul>li:nth-child(6)>a>span.icon {
		background-image:url(../img/icons/bell_icon.png);
	}
	.profile__content>ul>li:hover>a>span.icon {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
	.profile__content>ul>li>a>span.index {
		display: inline-block;
		width: 10px;
		height: 20px;
		font-size: 1rem;
		color: #fff;
		margin:0 5px;
	}
	.profile__content>ul>li:nth-child(1)>a>span.index {
		color: #e7604a;
		font-weight: 600;
	}
	.profile__content>ul>li:nth-child(6)>a>span.index {
		color: #e7604a;
		font-weight: 600;
	}
	.profile__content>ul>li>a>span.title {
		font-size: 1rem;
		color: #fff;
		margin-left: 10px;
	}
	.profile__content>ul>li:hover>a>span.title {
		color: #3ebcca;
	}
}
@media all and (max-width: 385px) {
	.topbar {
		height: 40px;
	}
	.menu__button {
		width: 40px;
	}
	.menu__content {
		top: 40px;
	}
	.menu__button>span {
		line-height: 40px;
		font-size: 1rem;
	}
	.mobile.search {
		width: 40px;
		min-width:40px;
	}
	.search__content {
		top: 40px;
	}
	.mobile.search .search__button>span {
		line-height: 40px;
		font-size: 1rem;
	}
	.newsList {
		width: 40px;
		min-width:40px;
	}
	.newsLIst__wrap {
		top: 40px;
		right: -40px;
	}
	.newsList__button {
		background-size:80%;
	}
	.newsList__button>span {
		line-height: 40px;
		font-size: 1rem;
	}
	.mobile.profile {
		width: 40px;
		height: 100%;
	}
	.profile__content {
		top: 40px;
	}
	.profile__button>span {
		line-height: 40px;
		font-size: 1rem;
	}
	.topbar>.logo {
		top: 6px;
	}
	.sportSelect {
		height: 40px;
	}
	.sportSelect__button>span.icon {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	.sportSelect__content {
		top: 40px;
	}
}



.footer {
	width: 100%;
	background-color:#30333b;
}
.footer__topPart {
	width: 100%;
	height: 70px;
	padding:0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__topPart-logo>img {
	width: 110px;
	margin-right: 5px;
}
.footer__topPart-logo>span {
	font-size: 1.1rem;
	color: #c0c3cb;
}
.footer__topPart-links>a {
	display: inline;
	color: #c0c3cb;
	font-size: 0.9rem;
	margin-right: 15px;
}
.footer__topPart-links>a:hover {
	text-decoration:underline;
}
.footer__topPart-links>a:last-child {
	margin-right: 0;
}
.footer__topPart-links>a>i {
	margin-right: 5px;
}
.footer__topPart-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__topPart-social>a {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 2px solid #697591;
	border-radius: 50%;
	margin-right: 20px;
	text-align:center;
}
.footer__topPart-social>a>i {
	font-size: 1rem;
	font-weight: 700;
	color: #697591;
	line-height: 25px;
}
.footer__topPart-social>a:last-child {
	margin-right: 0;
}
.footer__topPart-social>a:hover {
	color: #4869b7;
	border-color: #4869b7;
}
.footer__topPart-social>a:hover>i {
	color: #4869b7;
}
.footer__topPart-copyright {
	color: #c0c3cb;
	font-size: 0.9rem;
	text-align:right;
}
.footer__bottomPart {
	width: 100%;
	background-color:#2b2e35;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding:0 20px;
}
.footer__bottomPart>.warning {
	font-size: 0.8rem;
	color: #898c93;
	font-style: italic;
	font-family: Myriad;
	font-weight: 300;
	text-align:left;
}
.footer__bottomPart>.policies {
	text-align:right;
}
.footer__bottomPart>.policies>a {
	display: inline;
	font-size: 0.8rem;
	color: #898c93;
	margin-right: 20px;
}
.footer__bottomPart>.policies>a:last-child {
	margin-right: 0;
}
.footer__bottomPart>.policies>a:hover {
	text-decoration:underline;
}

@media all and (max-width: 1490px) {
	.footer__topPart-links>a {
		display: block;
	}
	.footer__topPart-links>a:first-child {
		margin-right: 0;
		margin-bottom: 5px;
	}
	.footer__bottomPart {
		height:auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 10px;
	}
	.footer__bottomPart>.warning {
		margin-bottom: 5px;
	}
	#toTop {
		bottom: 126px;
	}
}
@media all and (max-width: 1375px) {
	.footer__topPart {
		height:auto;
		padding:20px 10px;
		display: block;
	}
	.footer__topPart-logo {
		display: block;
		width: 100%;
		text-align:center;
		padding-bottom: 15px;
		border-bottom: 1px solid #3c3f47;
		margin-bottom: 15px;
	}
	.footer__topPart-copyright {
		display: block;
		width: 100%;
		text-align:center;
		padding-top: 15px;
		margin-top: 15px;
		border-top: 1px solid #3c3f47;
	}
	.footer__topPart-links {
		display: inline-block;
		width: 49%;
		text-align:center;	
	}
	.footer__topPart-social {
		display: inline-block;
		width: 49%;
		text-align:center;
	}
	.footer__topPart-links>a {
		display: inline-block;
		padding-top: 5px;
	}
	.footer__topPart-links>a:first-child {
		margin-bottom: 0px;
		margin-right: 20px;
	}
	.footer__topPart-links>a:last-child {
		margin-bottom: 0px;
		margin-right: 20px;
	}
	#toTop {
		bottom: 230px;
	}
}
@media all and (max-width: 960px) {
	#toTop {
		bottom: 20px;
		right: 20px;
	}
}
@media all and (max-width: 575px) {
	.footer__bottomPart>.policies {
		text-align:center;
		margin-top: 5px;
		padding-top: 5px;
		border-top:1px solid #3c3f47;
		width: 100%;
	}
	.footer__bottomPart>.policies>a {
		display: block;
		margin-right: 0;
		margin-bottom: 5px;
	}
}
@media all and (max-width: 490px) {
	.footer__topPart-links {
		text-align:left;
	}
	.footer__topPart-links>a {
		display: block;
		margin-right: 0;
		padding: 0;
	}
	.footer__topPart-links>a:first-child {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.footer__topPart-social {
		padding-top: 7px;
	}
	.footer__bottomPart>.warning {
		text-align:center;
	}
}
@media all and (max-width: 390px) {
	.footer__topPart-logo>span {
		font-size: 0.8rem;
	}
	.footer__topPart-logo>img {
		width: 90px;
	}
}