

/* СЛАЙДЕР ГЛАВНОЙ СТРАНИЦЫ */
.sliderMain {
	width: 100%;
	height: 480px;
	background-color:#000;
}
.sliderMain.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.sliderMain div {width: 100%; height: 100%;}
.sliderMain  .block {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size:cover;
	background-repeat:no-repeat;
}
.sliderMain  .block.slide1 {
	background-image: url(../img/slide_main_1.jpg);
}
.sliderMain  .block.slide2 {
	background-image: url(../img/slide_main_2.jpg);
}
.sliderMain  .block.slide3 {
	background-image: url(../img/slide_main_3.jpg);
}
.sliderMain .block.slide4 {
	background-image: url(../img/slide_main_4.jpg);
}
.sliderMain .block.slide5 {
	background-image: url(../img/slide_main_5.jpg);
}
.sliderMain .block .watchNow {
	width: 220px;
	height: 60px;
	position: absolute;
	top:60%;
	left:60%;
	border-radius: 30px;
	background-color:#d92841;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.35);
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.35);
}
.sliderMain .block .watchNow>a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 1.4rem;
}
.sliderMain .slick-prev, .sliderMain .slick-prev:hover,
.sliderMain .slick-prev:focus {
	left: 40px;
	background-image:url(../img/prev_slider_main.png);
}
.sliderMain .slick-next, .sliderMain .slick-next:hover,
.sliderMain .slick-next:focus {
	right: 40px;
	background-image:url(../img/next_slider_main.png);
}
.sliderMain .slick-prev, .sliderMain .slick-next {
	width: 50px;
	height: 50px;
	background-repeat:no-repeat;
	background-color:transparent;
	background-size:100% 100%;
	background-position:center center;
	z-index: 3;
}
.sliderMain .slick-prev:hover, .sliderMain .slick-next:hover,
.sliderMain .slick-prev:focus, .sliderMain .slick-next:focus {
	opacity: 1;
	background-position:center center;
}
.sliderMain .slick-prev:before, .sliderMain .slick-next:before {
	display: none;
}
.sliderMain .slick-dots {
	bottom: 40px;
}
.slick-dots li button::before {
	font-size: 8px;
	color: #e5d3d4;
	opacity: 1;
	padding-bottom: 2px;
	line-height: 14px;
}
.sliderMain .slick-dots li.slick-active button:before {
	color: transparent;
	border:2px solid #e5d3d4;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	padding-bottom: 0;
}
.sliderMain .slick-dots li {
	margin: 0 15px;
}


@media all and (max-width: 1660px) {
	.sliderMain {
		height: 380px;
	}
}
@media all and (max-width: 1440px) {
	.sliderMain .sliderMain_wrap .block .watchNow {
		width: 170px;
		height: 40px;
		border-radius: 20px;
	}
	.sliderMain .sliderMain_wrap .block .watchNow>a {
		font-size: 1rem;
		line-height: 40px;
	}
}
@media all and (max-width: 1380px) {
	.sliderMain {
		height: 320px;
	}
	.sliderMain .slick-dots {
		bottom: 15px;
	}
	.sliderMain .block .watchNow {
		width: 170px;
		height: 40px;
		border-radius: 20px;
	}
	.sliderMain .block .watchNow>a {
		line-height: 40px;
		font-size: 1.1rem;
	}
}
@media all and (max-width: 960px) {
	.sliderMain .slick-prev, .sliderMain .slick-next {
		display: none;
	}
}
@media all and (max-width: 767px) {
	.sliderMain {
		height: 250px;
	}
	.sliderMain .block .watchNow {
		width: 150px;
	}
}
@media all and (max-width: 575px) {
	.sliderMain {
		height: 400px;
	}
	.sliderMain .block.slide1 {
	    background-image: url(../img/slide_1_vertical.png);
	}
}
@media all and (max-width: 385px) {
	.sliderMain .block .watchNow{
		top: 75%;
		left: 32%;
	}
}
@media all and (max-width: 360px) {
	.sliderMain .block .watchNow{
		left: 30%;
	}
}
@media all and (max-width: 330px) {
	.sliderMain .block .watchNow{
		left: 28%;
	}
}


/*============ КОНТОРЫ И СТАВКИ ============*/

.bets {
	width: 100%;
	background-color:#f1f3f2;
	padding: 55px 40px 90px 40px;
}
.bets h2 {
	text-align: center;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 300;
	color: #4e5157;
	margin-bottom: 40px;
	margin-top: 0;
}
.bets button.moreBets {
	width: 110px;
	height: 40px;
	border:2px solid #c0c3cb;
	background-color:transparent;
	color:#c0c3cb;
	position: absolute;
	bottom: 40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	font-size: 1rem;
	border-radius: 20px;
	cursor: pointer;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.bets button.moreBets:hover {
	background-color:#c0c3cb;
	color: #fff;
}
.bets .betsBox {
	width: 100%;
}
.bets .betsBox .breadcrumbs {
	text-align: left;
	width: 100%;
	margin-bottom: 25px;
}
.bets .betsBox .breadcrumbs>a {
	display: inline;
	color: #52ca82;
	font-size: 0.8rem;
}
.bets .betsBox .breadcrumbs>a:hover {
	text-decoration: underline;
}
.bets .betsBox .breadcrumbs>a:last-child {
	color: #919498;
	pointer-events: none;
}
.bets .betsBox .breadcrumbs>span>i {
	font-size: 0.9rem;
	color:  #919498;
	margin: 0 15px;
}
.bets .betsBox .betsBlock {
	width: calc(50% - 15px);
	height: 210px;
	background-color:#fff;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 87px -30px rgba(0,0,0,0.3);
box-shadow: 0px 0px 87px -30px rgba(0,0,0,0.3);
	overflow:hidden;
	margin-bottom: 30px;
}
.bets .betsBox .betsBlock:nth-child(2n - 1) {
	margin-left: 15px;
}
.bets .betsBox .betsBlock:nth-child(2n) {
	margin-right: 15px;
}
.bets .betsBox .betsBlock:last-child {
	margin-bottom: 45px;
}
.bets .betsBox .betsBlock>.betsBlock__header {
	width:calc(100% - 60px);
	height: 40px;
	margin-left:30px;
	border-bottom: 1px solid #f1f3f2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.bets .betsBox .betsBlock>.betsBlock__header>.stat__wrap>.watchers>span.parameter {
	font-size:0.9rem;
	color: #919498;
	margin-left: 10px;
}
.bets .betsBox .betsBlock>.betsBlock__header>.stat__wrap>.bars {
	margin-left: 20px;
}
.bets .betsBox .betsBlock>.betsBlock__header>.stat__wrap>.bars>span.parameter {
	font-size: 0.9rem;
	color: #919498;
	margin-left: 10px;
}
.bets .betsBox .betsBlock>.betsBlock__header>.date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.bets .betsBox .betsBlock>.betsBlock__header>.date>.parameter {
	font-size: 0.9rem;
	color: #919498;
	margin-left: 10px;
}
.bets .betsBox .betsBlock>.betsBlock__header>.date img {
	margin-bottom: 2px;
}
.bets .betsBox .betsBlock>.betsBlock__content {
	width: 100%;
	height: 130px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.4);
box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.4);
	z-index: 2;
}
.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.leftPart {
	width: 160px;
	height: 100%;
}
.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.leftPart>.emblem{
	width: 100%;
	height: 65px;
	text-align: right;
	vertical-align: bottom;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.leftPart>.title {
	text-align: right;
	margin-top: 10px;
	font-size: 1.2rem;
	font-weight: 600;
	color: #919498;
	width: 100%;
}
.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.vs {
	width: 70px;
	height: 100px;
	text-align: center;
}
.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.vs>img {
	margin-top: 40px;
}
.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.rightPart {
	width: 160px;
	height: 100%;
}
.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.rightPart>.emblem{
	width: 100%;
	height: 65px;
	text-align: right;
	vertical-align: bottom;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.rightPart>.title {
	text-align: left;
	margin-top: 10px;
	font-size: 1.2rem;
	font-weight: 600;
	color: #919498;
	width: 100%;
}
.bets .betsBox .betsBlock>.betsBlock__content>.knowMore {
	width: 150px;
	height: 36px;
	border-radius: 33px;
	background-color:#52ca82;
	margin-top: 55px;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.bets .betsBox .betsBlock>.betsBlock__content>.knowMore>a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	line-height: 36px;
	text-align: center;
	font-size: 1rem;
}
.bets .betsBox .betsBlock>.betsBlock__content>.knowMore:hover {
	background-color:#3edb7d;
}
.bets .betsBox .betsBlock>.betsBlock__content>.statistic {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 90px;
	height: 105px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block>.title {
	font-size: 0.9rem;
	color: #e7604a;
}
.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block>.parameter {
	width: 60px;
	padding-right: 10px;
	text-align: right;
	line-height: 30px;
	color: #fff;
	background-color:#e7604a;
	margin-left: 10px;
	font-size: 0.9rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 30px;
}
.bets .betsBox .betsBlock>.betsBlock__footer {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.bets .betsBox .betsBlock>.betsBlock__footer>a {
	display: block;
	float: left;
	width: 20%;
	background-color:#a2a5ae;
	color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 1rem;
	border-right: 1px solid #989ba4;
	border-left: 1px solid #b4b7be;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.bets .betsBox .betsBlock>.betsBlock__footer>a:hover {
	background-color:#fff;
	color: #c0c3cb;
	border-right: 1px solid #fff;
}
.bets .betsBox .betsBlock>.betsBlock__footer>a:first-child {
	border-left:none;
}
.bets .betsBox .betsBlock>.betsBlock__footer>a:last-child {
	border-right:none;
}
.betsBlock__footer-mobile {
	display: none;
}


@media all and (max-width: 1840px) {
	.bets .betsBox .betsBlock>.betsBlock__content>.knowMore {
		width: 120px;
	}
}

@media all and (max-width: 1780px) {
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.leftPart,
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.rightPart {
		width: 130px;
	}
}

@media all and (max-width: 1620px) {
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.leftPart,
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.rightPart {
		width: 100px;
	}
}

@media all and (max-width: 1510px) {
	.bets .betsBox .betsBlock>.betsBlock__footer>a {
		font-size: 0.7rem;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.rightPart>.title,
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.leftPart>.title {
		font-size: 1rem;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.leftPart,
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.rightPart {
		width: 85px;
	}
}
@media all and (max-width: 1450px) {
	.bets .betsBox .betsBlock>.betsBlock__content>.knowMore>a {
		font-size: 0.7rem;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.knowMore {
		width: 85px;
	}
}
@media all and (max-width: 1370px) {
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic {
		width: 60px;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block>.parameter {
		width: 40px;
		min-width: 40px;
		font-size: 0.7rem;
		padding-right: 3px;
		margin-left: 5px;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block>.title {
		font-size: 0.7rem;
	}
}
@media all and (max-width: 1310px) {
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.vs {
		width: 70px;
	}
}
@media all and (max-width: 1280px) {
	.bets .betsBox .betsBlock {
		width: 100%;
		max-width: 500px;
		min-width:300px;
		margin-left: auto;
		margin-right: auto;
		float:none;
	}
	.bets .betsBox .betsBlock:nth-child(2n - 1) {
		margin-left:auto;
	}
	.bets .betsBox .betsBlock:nth-child(2n) {
		margin-right: auto;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.leftPart, 
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.rightPart {
		width: 110px;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.knowMore {
		width: 100px;
	}
}
@media all and (max-width: 575px) {
	.bets {
		padding:35px 10px 90px 10px;
	}
	.bets h2 {
		font-size: 1.2rem;
	}
}
@media all and (max-width: 470px) {
	.bets .betsBox .betsBlock>.betsBlock__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		height: 230px;
	}
	.bets .betsBox .betsBlock {
		height: 310px;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.leftPart, 
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap>.rightPart {
		width: calc(50% - 35px);
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.commands_wrap {
		width: 100%;
		text-align:center;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.knowMore {
		width: 150px;
		margin-top: 30px;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.knowMore>a {
		font-size: 0.9rem;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		width: 100%;
		height: auto;
		bottom: 0;
		top: auto;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block>.title,
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block>.parameter {
		font-size: 1rem;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block>.parameter {
		width: 55px;
		height: 35px;
		line-height: 35px;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block {
		margin-right: 10px;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block {
		width:auto;
	}
}
@media all and (max-width: 420px) {
	.bets .betsBox .betsBlock>.betsBlock__footer>a {
		display: none;
	}
	.betsBlock__footer-mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding:0 20px;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		background-color:#9fa2aa;
		color: #fff;
		width: 100%;
		height: 100%;
	}
	.betsBlock__footer-mobile>span {
		font-size: 1rem;
	}
	.betsBlock__footer-mobile>span:last-child {
		font-size: 1.2rem;
	} 
	.bets .betsBox .betsBlock>.betsBlock__footer {
		height: 40px;
	}
}
@media all and (max-width: 360px) {
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic {
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block:last-child {
		margin-right: 0;
	}
	.bets .betsBox .betsBlock>.betsBlock__content>.statistic>.statistic__block>.parameter {
		margin-left: 10px;
	}
}

/* ЛЕГАЛЬНЫЙ БУКМЕКЕРЫ */

.bookmakers {
	width: 100%;
	background-color:#2bacb1;
	padding: 55px 40px 80px 40px;
}
.bookmakers h2 {
	text-align: center;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	margin-bottom: 40px;
	margin-top: 0;
}
.bookmakers button.more {
	width: 290px;
	height: 30px;
	border:2px solid #fff;
	background-color:transparent;
	color:#fff;
	position: absolute;
	bottom: 40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	font-size: 0.8rem;
	border-radius: 20px;
	cursor: pointer;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.bookmakers button.more:hover {
	background-color:#fff;
	color: #2bacb1;
}
.bookmakers_box {
	width: 100%;
	min-height: 0;
	height: 350px;
	overflow:hidden;
}
.bookmakers_box.active {
	height: auto;
}
.bookmakers__block {
	width: calc(50% - 15px);
	height: 90px;
	max-height: 90px;
	background-color:#fff;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 87px -30px rgba(0,0,0,0.3);
box-shadow: 0px 0px 87px -30px rgba(0,0,0,0.3);
	overflow:hidden;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.bookmakers__block:nth-child(2n - 1) {
	margin-right: 15px;
}
.bookmakers__block:nth-child(2n) {
	margin-left: 15px;
}
.bookmakers__block-logo {
	width: 25%;
	height: 100%;
	text-align: center;
	padding-top: 20px;
}
.bookmakers__block-logo>img {
	width: 70%;
}
.bookmakers__block-bonus {
	width: 30%;
	height: 100%;
	padding-left: 25px;
	padding-top: 20px;
	background-color:#f1f3f2;
}
.bookmakers__block-bonus>.title {
	color: #b0b3bb;
	font-size: 0.7rem;
	margin-bottom: 7px;
	width: 100%;
	text-align:left;
}
.bookmakers__block-bonus>.parameter {
	color: #52ca82;
	font-size: 1.7rem;
	font-weight: 600;
}
.bookmakers__block-bonus>.parameter>span {
	font-size: 0.9rem;
}
.bookmakers__block-buttons {
	width: 45%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
}
.bookmakers__block-buttons>a {
	display: inline-block;
	width: 100px;
	height: 30px;
	max-height: 30px;
	border:2px solid;
	line-height: 30px;
	font-size: 0.8rem;
	text-align: center;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	border-radius: 15px;
}
.bookmakers__block-buttons>a:first-child {
	background-color:transparent;
	border-color: #c3c6ce;
	color: #c3c6ce;
	margin-right: 15px;
}
.bookmakers__block-buttons>a:first-child:hover {
	background-color:#e3e6ef;
}
.bookmakers__block-buttons>a:last-child {
	background-color:#e7604a;
	border-color: #e7604a;
	color: #fff;
}
.bookmakers__block-buttons>a:last-child:hover {
	background-color:#f2482d;
	border-color: #f2482d;
}



@media all and (max-width: 1570px) {
	.bookmakers__block-logo {
		padding-top: 30px;
	}
	.bookmakers__block-bonus>.parameter {
		font-size: 1.3rem;
	}
	.bookmakers__block-buttons>a {
		width: 80px;
	}
}
@media all and (max-width: 1440px) {
	.bookmakers__block-logo>img {
		width: 90%;
	}
	.bookmakers__block-logo {
		padding-top: 25px;
	}
	.bookmakers__block-bonus {
		padding-left: 15px;
	}
}
@media all and (max-width: 1380px) {
	.bookmakers__block-buttons {
		width: 33%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding:10px 0;
	}
	.bookmakers__block-buttons>a:first-child {
		margin-right: 0;
	}
	.bookmakers__block-bonus {
		width: 42%;
	}
	.bookmakers__block-bonus>.parameter {
		font-size: 1.6rem;
	}
}
@media all and (max-width: 1150px) {
	.bookmakers__block {
		width: 100%;
		max-width: 500px;
		min-width:300px;
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
	.bookmakers__block:nth-child(2n - 1) {
		margin-right: auto;
	}
	.bookmakers__block:nth-child(2n) {
		margin-left: auto;
	}
	.bookmakers__block-buttons {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		width: 42%;
		padding:0 10px;
	}
	.bookmakers__block-bonus {
		width: 33%;
	}
}
@media all and (max-width: 575px) {
	.bookmakers {
		padding:35px 10px 90px 10px;
	}
	.bookmakers h2 {
		font-size: 1.2rem;
	}
}
@media all and (max-width: 420px) {
	.bookmakers__block {
		display: block;
		height: 160px;
		max-height: 160px;
		width: 300px;
	}
	.bookmakers__block-logo {
		width: 50%;
		background-color: #fff;
		height: 90px;
	}
	.bookmakers__block-bonus {
		width: 50%;
		height: 90px;
		background-color:#fff;
	}
	.bookmakers__block-buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 70px;
		width: 100%;
		background-color:#f1f3f2;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.bookmakers__block-buttons>a {
		width: 100px;
	}
	.bookmakers__block-logo>img {
		width: 80%;
	}
	.bookmakers_box {
		height: 560px;
	}
	.bookmakers__block-bonus>.title {
		font-size: 0.9rem;
	}
}



/* ОБЗОР */

.overviews {
	width: 100%;
	background-color:#fff;
}
.overviews h2 {
	text-align: center;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 300;
	color: #4e5157;
	margin-bottom: 40px;
	margin-top: 40px;
}
.overviews button.moreBets {
	width: 110px;
	height: 40px;
	border:2px solid #c0c3cb;
	background-color:transparent;
	color:#c0c3cb;
	position: absolute;
	bottom: 40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	font-size: 1rem;
	border-radius: 20px;
	cursor: pointer;
	z-index: 5;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.overviews button.moreBets:hover {
	background-color:#c0c3cb;
	color: #fff;
}
.overviews .tabTrigger_wrap {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.overviews .tabTrigger_wrap .tabTrigger {
	width: 235px;
	height: 45px;
	background-color: #a4a7b0;
	color: #fff;
	font-size: 1rem;
	text-transform:uppercase;
	text-align:center;
	line-height: 45px;
	cursor: pointer;
}
.overviews .tabTrigger_wrap .tabTrigger#matchReview {
	border-radius: 3px 0px 0 0;
}
.overviews .tabTrigger_wrap .tabTrigger#betReview {
	border-radius: 0px 3px 0 0;
}
.overviews .tabTrigger_wrap .tabTrigger.active {
	height: 50px;
	line-height: 50px;
	background-color: #f1f3f2;
	color: #4e5157;
}
.overviews .tabContent {
	width: 100%;
	background-color: #f1f3f2;
	padding: 20px 20px 100px 20px;
	text-align:center;
	display: none;
}
.overviews .tabContent.active {
	display: block;
}
.overviews .tabContent .tabContent__block {
	width: 320px;
	height: 450px;
	-webkit-box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.4);
box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.4);
	background-color: #fff;
	margin: 20px;
	float:none;
	display: inline-block;
}

.tabContent__block-header {
	width: 100%;
	height: 30px;
	padding:0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.tabContent__block-header>.title {
	font-size: 0.8rem;
	color: #2bacb1;
}
.tabContent__block-header>.title:before {
	content: '';
	display: block;
	width: 3px;
	height:60%;
	background-color: #2bacb1;
	position: absolute;
	left: -20px;
	top:20%;
}
.tabContent__block-header>.status {
	font-size: 0.8rem;
	color: #b0b3bb;
	text-align:right;
}
.tabContent__block-img {
	width: 100%;
	height: 170px;
	overflow:hidden;
}
.tabContent__block-img>img {
	height: 100%;
}
.tabContent__block-content {
	width: 100%;
	padding:20px;
	padding-top: 15px;
}
.tabContent__block-content>.title {
	width: 100%;
	text-align:left;
	font-size: 1rem;
	color: #4e5157;
	text-transform:uppercase;
	margin-bottom: 7px;
}
.tabContent__block-content>.description {
	width: 100%;
	max-height: 60px;
	overflow:hidden;
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
}
.tabContent__block-content>.description>p {
	font-size: 1rem;
	color: #4e5157;
	text-align:left;
	margin: 0;
}
.tabContent__block-content>.facerad_wrap {
	width: 100%;
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #f1f3f2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.tabContent__block-content>.facerad_wrap>.title {
	color: #52ca82;
	font-size: 0.9rem;
	text-align:left;
}
.tabContent__block-content>.facerad_wrap>.status {
	font-size: 0.9rem;
	color: #919498;
	text-align:right;
}
.tabContent__block-content>.facerad_wrap>.status>i {
	margin-right: 5px;
}
.tabContent__block-content>.anilytic_wrap {
	width: 100%;
	margin-top: 7px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.tabContent__block-content>.anilytic_wrap>.title {
	font-size: 0.9rem;
	color: #526796;
	text-align:left;
}
.tabContent__block-content>.anilytic_wrap>.title:before {
	background-color: #526796;
	content:'';
	width: 3px;
	height: 60%;
	top: 20%;
	left: -20px;
	position: absolute;
}
.tabContent__block-content>.anilytic_wrap>.stat_wrap {
	text-align:right;
}
.tabContent__block-content>.anilytic_wrap>.stat_wrap>.stars {
	font-size: 0.9rem;
	color: #e7604a;
	margin-right: 20px;
}
.tabContent__block-content>.anilytic_wrap>.stat_wrap>.stars>span {
	color: #4e5157;
	margin-left: 3px;
}
.tabContent__block-content>.anilytic_wrap>.stat_wrap>.prize {
	font-size: 0.9rem;
	color: #ffba00;
	margin-right: 20px;
}
.tabContent__block-content>.anilytic_wrap>.stat_wrap>.prize>span {
	color: #4e5157;
	margin-left: 3px;
}
.tabContent__block-content>.anilytic_wrap>.stat_wrap>.percent {
	font-size: 0.9rem;
	color: #52ca82;
}
.tabContent__block-content>.anilytic_wrap>.stat_wrap>.percent>span {
	color: #52ca82;
	margin-left: 3px;
}
.tabContent__block-footer {
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #f3f3f4;
	padding:0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.tabContent__block-footer>.leftPart {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.tabContent__block-footer>.leftPart>div {
	color: #2bacb1;
	font-size: 0.9rem;
}
.tabContent__block-footer>.leftPart>div>span {
	color: #a8aaad;
	margin-left: 2px;
}
.tabContent__block-footer>.leftPart>.watched {
	margin-right: 15px;
}
.tabContent__block-footer>.rightPart {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.tabContent__block-footer>.rightPart>.like {
	color: #52ca82;
	font-size: 0.9rem;
	margin-right: 15px;
}
.tabContent__block-footer>.rightPart>.dislike {
	color: #e7604a;
	font-size: 0.9rem;
}
.tabContent__block-footer>.rightPart>div>span {
	color: #a8aaad;
	margin-left: 2px;
}

@media all and (max-width: 1120px) {
	.overviews .tabContent .tabContent__block {
		width: 260px;
	}
	.tabContent__block-content>.anilytic_wrap>.stat_wrap>.prize,
	.tabContent__block-content>.anilytic_wrap>.stat_wrap>.stars {
		margin-right: 10px;
	}
	.tabContent__block-content>.description>p {
		font-size: 0.8rem;
	}
}
@media all and (max-width: 575px) {
	.overviews .tabContent {
		padding-left: 10px;
		padding-right: 10px;
	}
	.overviews h2 {
		font-size: 1.2rem;
	}
	.overviews .tabTrigger_wrap .tabTrigger {
		width: 150px;
		font-size: 0.8rem;
	}
	.overviews .tabContent .tabContent__block {
		width: 300px;
		margin-right: 0;
		margin-left: 0;
	}
}






/* НОВОСТИ */

.news {
	width: 100%;
	background-color: #fff;
	padding:10px;
	padding-bottom: 90px;
}
.news h2 {
	text-align: center;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 300;
	color: #4e5157;
	margin-bottom: 40px;
	margin-top: 40px;
}
.news button.more {
	width: 110px;
	height: 40px;
	border:2px solid #c0c3cb;
	background-color:transparent;
	color:#c0c3cb;
	position: absolute;
	bottom: 40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	font-size: 1rem;
	border-radius: 20px;
	cursor: pointer;
	z-index: 5;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.news button.more:hover {
	background-color:#c0c3cb;
	color: #fff;
}
.news__box {
	width: 100%;
	text-align:center;
}
.news__block {
	float: none;
	width: 325px;
	height: 90px;
	overflow:hidden;
	display: inline-block;
	margin: 20px;
}
.news__block>.imgPart {
	width: 75px;
	height: 100%;
	text-align:center;
	padding-top: 10px;
}
.news__block>.imgPart>.img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image:url(../img/tabBlock_img.jpg);
}
.news__block>.textPart {
	width: 250px;
	height: 100%;
	padding-left: 15px;
}
.news__block>.textPart>.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	height: 30px;
}
.news__block>.textPart>.header>.author {
	font-size: 0.9rem;
	color: #52ca82;
	text-align:left;
}
.news__block>.textPart>.header>.publishingDate {
	font-size: 0.9rem;
	color: #b0b3bb;
	text-align:right;
}
.news__block>.textPart>.description {
	height: 60px;
	width: 100%;
	overflow:hidden;
	text-overflow: ellipsis;
}
.news__block>.textPart>.description>p {
	margin: 0;
	font-size: 0.9rem;
	color: #4e5157;
	text-align:left;
}

@media all and (max-width: 1100px) {
	.news__block {
		width: 260px;
	}
	.news__block>.imgPart {
		width: 60px;
	}
	.news__block>.imgPart>.img {
		width: 60px;
		height: 60px;
	}
	.news__block>.textPart {
		width: 200px;
	}
	.news__block>.textPart>.description>p {
		font-size: 0.7rem;
	}
}
@media all and (max-width: 575px) {
	.news h2 {
		font-size: 1.2rem;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.news__block {
		width: 300px;
		margin-left: 0;
		margin-right: 0;
	}
	.news__block>.textPart {
		width: 235px;
	}
}

